@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h3 id="title">Курсова робота з баз даних</h3>
        <h1 id="title">Реброва Віолетта ІС-31</h1>
        <p class="lead">Педагогічне навантаження кафедри </p>

    </section>

    <div>
        <section aria-labelledby="gettingStartedTitle">
            
            <p>
                Кафедра забезпечує викладання певних дисциплін. Для кожної дисципліни передбачені певні години педагогічного навантаження по видах: лекції, практичні заняття, лабораторні роботи, практика (це також вид дисципліни), дипломне проектування, екзамен. Має значення також посада викладача: певні види навантаження (як-от практичні та лабораторні заняття) може виконувати асистент, інші – лише старший викладач, доцент або професор.
                На кафедрі існують викладачі, як штатні, так і сумісники. Кожний викладач викладає кілька дисциплін (в середньому біля трьох). Згідно закону річне педнавантаження на викладача має бути не більше 600 годин. Години, яких не вистачає, можуть бути додані викладачу за рахунок дисципліни «Дипломне проектування» (20 годин на студента).
                Завідувач кафедрою планує педагогічне навантаження викладачів. При цьому контролюються річне навантаження викладачів та інші обмеження.

            </p>
           </section>
        
    </div>
</main>